<div>
  <h2 id="page-heading" data-cy="LoyaltyProgramHeading">
    <span jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.home.title">Loyalty Programs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-loyalty-program"
        [routerLink]="['/bookingservice/loyalty-program/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.home.createLabel"> Create a new Loyalty Program </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="loyaltyPrograms?.length === 0">
    <span jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.home.notFound">No Loyalty Programs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="loyaltyPrograms && loyaltyPrograms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loyaltyProgramName">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.loyaltyProgramName">Loyalty Program Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loyaltyProgramMember">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.loyaltyProgramMember">Loyalty Program Member</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loyaltyProgramNumber">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.loyaltyProgramNumber">Loyalty Program Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loyaltyProgramTier">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.loyaltyProgramTier">Loyalty Program Tier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loyaltyProgram of loyaltyPrograms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bookingservice/loyalty-program', loyaltyProgram.id, 'view']">{{ loyaltyProgram.id }}</a>
          </td>
          <td>{{ loyaltyProgram.loyaltyProgramName }}</td>
          <td>{{ loyaltyProgram.loyaltyProgramMember }}</td>
          <td>{{ loyaltyProgram.loyaltyProgramNumber }}</td>
          <td>{{ loyaltyProgram.loyaltyProgramTier }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/bookingservice/loyalty-program', loyaltyProgram.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bookingservice/loyalty-program', loyaltyProgram.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(loyaltyProgram)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="loyaltyPrograms && loyaltyPrograms.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
