<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-loyalty-program-heading"
        data-cy="LoyaltyProgramCreateUpdateHeading"
        jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.home.createOrEditLabel"
      >
        Create or edit a Loyalty Program
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.loyaltyProgramName"
            for="field_loyaltyProgramName"
            >Loyalty Program Name</label
          >
          <input
            type="text"
            class="form-control"
            name="loyaltyProgramName"
            id="field_loyaltyProgramName"
            data-cy="loyaltyProgramName"
            formControlName="loyaltyProgramName"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.loyaltyProgramMember"
            for="field_loyaltyProgramMember"
            >Loyalty Program Member</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="loyaltyProgramMember"
            id="field_loyaltyProgramMember"
            data-cy="loyaltyProgramMember"
            formControlName="loyaltyProgramMember"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.loyaltyProgramNumber"
            for="field_loyaltyProgramNumber"
            >Loyalty Program Number</label
          >
          <input
            type="text"
            class="form-control"
            name="loyaltyProgramNumber"
            id="field_loyaltyProgramNumber"
            data-cy="loyaltyProgramNumber"
            formControlName="loyaltyProgramNumber"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="bookingserviceApp.bookingserviceLoyaltyProgram.loyaltyProgramTier"
            for="field_loyaltyProgramTier"
            >Loyalty Program Tier</label
          >
          <input
            type="text"
            class="form-control"
            name="loyaltyProgramTier"
            id="field_loyaltyProgramTier"
            data-cy="loyaltyProgramTier"
            formControlName="loyaltyProgramTier"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
