<div>
  <h2 id="page-heading" data-cy="CustomerServiceEntityHeading">
    <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.home.title">Customer Service Entities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-service-entity"
        [routerLink]="['/customerservice/customer-service-entity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.home.createLabel">
          Create a new Customer Service Entity
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="customerServiceEntities?.length === 0">
    <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.home.notFound">No Customer Service Entities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="customerServiceEntities && customerServiceEntities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reservationNumber">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.reservationNumber">Reservation Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="roomNumber">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.roomNumber">Room Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="services">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.services">Services</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prices">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.prices">Prices</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amenities">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.amenities">Amenities</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="conversation.id">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceEntity.conversation">Conversation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerServiceEntity of customerServiceEntities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/customerservice/customer-service-entity', customerServiceEntity.id, 'view']">{{
              customerServiceEntity.id
            }}</a>
          </td>
          <td>{{ customerServiceEntity.reservationNumber }}</td>
          <td>{{ customerServiceEntity.roomNumber }}</td>
          <td>{{ customerServiceEntity.services }}</td>
          <td>{{ customerServiceEntity.prices }}</td>
          <td>{{ customerServiceEntity.amenities }}</td>
          <td>
            <div *ngIf="customerServiceEntity.conversation">
              <a [routerLink]="['/customerservice/conversation', customerServiceEntity.conversation.id, 'view']">{{
                customerServiceEntity.conversation.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customerservice/customer-service-entity', customerServiceEntity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customerservice/customer-service-entity', customerServiceEntity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(customerServiceEntity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="customerServiceEntities && customerServiceEntities.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
