<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="customerServiceUser">
      <h2 data-cy="customerServiceUserDetailsHeading">
        <span jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.detail.title">Customer Service User</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.id">Id</span></dt>
        <dd>
          <span>{{ customerServiceUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.firstName">First Name</span></dt>
        <dd>
          <span>{{ customerServiceUser.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.lastName">Last Name</span></dt>
        <dd>
          <span>{{ customerServiceUser.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.email">Email</span></dt>
        <dd>
          <span>{{ customerServiceUser.email }}</span>
        </dd>
        <dt><span jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ customerServiceUser.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.reservationNumber">Reservation Number</span></dt>
        <dd>
          <span>{{ customerServiceUser.reservationNumber }}</span>
        </dd>
        <dt><span jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.roomNumber">Room Number</span></dt>
        <dd>
          <span>{{ customerServiceUser.roomNumber }}</span>
        </dd>
        <dt><span jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.conversation">Conversation</span></dt>
        <dd>
          <div *ngIf="customerServiceUser.conversation">
            <a [routerLink]="['/conversation', customerServiceUser.conversation.id, 'view']">{{ customerServiceUser.conversation.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/customerservice/customer-service-user', customerServiceUser.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
