<div>
  <h2 id="page-heading" data-cy="AddressHeading">
    <span jhiTranslate="bookingserviceApp.bookingserviceAddress.home.title">Addresses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bookingserviceApp.bookingserviceAddress.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-address"
        [routerLink]="['/bookingservice/address/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bookingserviceApp.bookingserviceAddress.home.createLabel"> Create a new Address </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="addresses?.length === 0">
    <span jhiTranslate="bookingserviceApp.bookingserviceAddress.home.notFound">No Addresses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="addresses && addresses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceAddress.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressStreet1">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressStreet1">Address Street 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressStreet2">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressStreet2">Address Street 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressCity">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressCity">Address City</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressStateOrProvince">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressStateOrProvince">Address State Or Province</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressCountry">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressCountry">Address Country</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressZipOrPostalCode">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressZipOrPostalCode">Address Zip Or Postal Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressIsHomeOrBusiness">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressIsHomeOrBusiness">Address Is Home Or Business</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of addresses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bookingservice/address', address.id, 'view']">{{ address.id }}</a>
          </td>
          <td>{{ address.addressStreet1 }}</td>
          <td>{{ address.addressStreet2 }}</td>
          <td>{{ address.addressCity }}</td>
          <td>{{ address.addressStateOrProvince }}</td>
          <td>{{ address.addressCountry }}</td>
          <td>{{ address.addressZipOrPostalCode }}</td>
          <td>{{ address.addressIsHomeOrBusiness }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/bookingservice/address', address.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bookingservice/address', address.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(address)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="addresses && addresses.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
