<div>
  <h2 id="page-heading" data-cy="CustomerServiceHeading">
    <span jhiTranslate="customerserviceApp.customerserviceCustomerService.home.title">Customer Services</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="customerserviceApp.customerserviceCustomerService.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-service"
        [routerLink]="['/customerservice/customer-service/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="customerserviceApp.customerserviceCustomerService.home.createLabel"> Create a new Customer Service </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="customerServices?.length === 0">
    <span jhiTranslate="customerserviceApp.customerserviceCustomerService.home.notFound">No Customer Services found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="customerServices && customerServices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerService.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerService.startDate">Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerService.endDate">End Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportNumber">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerService.reportNumber">Report Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="faqs.id">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerService.faqs">Faqs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerServiceEntity.id">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerService.customerServiceEntity">Customer Service Entity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerServiceUser.id">
            <div class="d-flex">
              <span jhiTranslate="customerserviceApp.customerserviceCustomerService.customerServiceUser">Customer Service User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerService of customerServices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/customerservice/customer-service', customerService.id, 'view']">{{ customerService.id }}</a>
          </td>
          <td>{{ customerService.startDate | formatMediumDatetime }}</td>
          <td>{{ customerService.endDate | formatMediumDatetime }}</td>
          <td>{{ customerService.reportNumber }}</td>
          <td>
            <div *ngIf="customerService.faqs">
              <a [routerLink]="['/customerservice/fa-qs', customerService.faqs.id, 'view']">{{ customerService.faqs.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="customerService.customerServiceEntity">
              <a [routerLink]="['/customerservice/customer-service-entity', customerService.customerServiceEntity.id, 'view']">{{
                customerService.customerServiceEntity.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="customerService.customerServiceUser">
              <a [routerLink]="['/customerservice/customer-service-user', customerService.customerServiceUser.id, 'view']">{{
                customerService.customerServiceUser.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customerservice/customer-service', customerService.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customerservice/customer-service', customerService.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(customerService)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="customerServices && customerServices.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
