<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span jhiTranslate="bookingserviceApp.bookingserviceAddress.detail.title">Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceAddress.id">Id</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressStreet1">Address Street 1</span></dt>
        <dd>
          <span>{{ address.addressStreet1 }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressStreet2">Address Street 2</span></dt>
        <dd>
          <span>{{ address.addressStreet2 }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressCity">Address City</span></dt>
        <dd>
          <span>{{ address.addressCity }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressStateOrProvince">Address State Or Province</span></dt>
        <dd>
          <span>{{ address.addressStateOrProvince }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressCountry">Address Country</span></dt>
        <dd>
          <span>{{ address.addressCountry }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressZipOrPostalCode">Address Zip Or Postal Code</span></dt>
        <dd>
          <span>{{ address.addressZipOrPostalCode }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceAddress.addressIsHomeOrBusiness">Address Is Home Or Business</span></dt>
        <dd>
          <span>{{ address.addressIsHomeOrBusiness }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bookingservice/address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
