<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-address-heading"
        data-cy="AddressCreateUpdateHeading"
        jhiTranslate="bookingserviceApp.bookingserviceAddress.home.createOrEditLabel"
      >
        Create or edit a Address
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceAddress.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceAddress.addressStreet1" for="field_addressStreet1"
            >Address Street 1</label
          >
          <input
            type="text"
            class="form-control"
            name="addressStreet1"
            id="field_addressStreet1"
            data-cy="addressStreet1"
            formControlName="addressStreet1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceAddress.addressStreet2" for="field_addressStreet2"
            >Address Street 2</label
          >
          <input
            type="text"
            class="form-control"
            name="addressStreet2"
            id="field_addressStreet2"
            data-cy="addressStreet2"
            formControlName="addressStreet2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceAddress.addressCity" for="field_addressCity"
            >Address City</label
          >
          <input
            type="text"
            class="form-control"
            name="addressCity"
            id="field_addressCity"
            data-cy="addressCity"
            formControlName="addressCity"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="bookingserviceApp.bookingserviceAddress.addressStateOrProvince"
            for="field_addressStateOrProvince"
            >Address State Or Province</label
          >
          <input
            type="text"
            class="form-control"
            name="addressStateOrProvince"
            id="field_addressStateOrProvince"
            data-cy="addressStateOrProvince"
            formControlName="addressStateOrProvince"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceAddress.addressCountry" for="field_addressCountry"
            >Address Country</label
          >
          <input
            type="text"
            class="form-control"
            name="addressCountry"
            id="field_addressCountry"
            data-cy="addressCountry"
            formControlName="addressCountry"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="bookingserviceApp.bookingserviceAddress.addressZipOrPostalCode"
            for="field_addressZipOrPostalCode"
            >Address Zip Or Postal Code</label
          >
          <input
            type="text"
            class="form-control"
            name="addressZipOrPostalCode"
            id="field_addressZipOrPostalCode"
            data-cy="addressZipOrPostalCode"
            formControlName="addressZipOrPostalCode"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="bookingserviceApp.bookingserviceAddress.addressIsHomeOrBusiness"
            for="field_addressIsHomeOrBusiness"
            >Address Is Home Or Business</label
          >
          <input
            type="text"
            class="form-control"
            name="addressIsHomeOrBusiness"
            id="field_addressIsHomeOrBusiness"
            data-cy="addressIsHomeOrBusiness"
            formControlName="addressIsHomeOrBusiness"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
