<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="customerInfo">
      <h2 data-cy="customerInfoDetailsHeading">
        <span jhiTranslate="bookingserviceApp.bookingserviceCustomerInfo.detail.title">Customer Info</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceCustomerInfo.id">Id</span></dt>
        <dd>
          <span>{{ customerInfo.id }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceCustomerInfo.customerID">Customer ID</span></dt>
        <dd>
          <span>{{ customerInfo.customerID }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceCustomerInfo.firstName">First Name</span></dt>
        <dd>
          <span>{{ customerInfo.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceCustomerInfo.lastName">Last Name</span></dt>
        <dd>
          <span>{{ customerInfo.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceCustomerInfo.address">Address</span></dt>
        <dd>
          <div *ngIf="customerInfo.address">
            <a [routerLink]="['/address', customerInfo.address.id, 'view']">{{ customerInfo.address.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bookingservice/customer-info', customerInfo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
