<div>
  <h2 id="page-heading" data-cy="ReservationHeading">
    <span jhiTranslate="bookingserviceApp.bookingserviceReservation.home.title">Reservations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bookingserviceApp.bookingserviceReservation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reservation"
        [routerLink]="['/bookingservice/reservation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bookingserviceApp.bookingserviceReservation.home.createLabel"> Create a new Reservation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reservations?.length === 0">
    <span jhiTranslate="bookingserviceApp.bookingserviceReservation.home.notFound">No Reservations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="reservations && reservations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountNumber">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.accountNumber">Account Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ratePlan">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.ratePlan">Rate Plan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="arrivalDate">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.arrivalDate">Arrival Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="departureDate">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.departureDate">Departure Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="checkInDateTime">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.checkInDateTime">Check In Date Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="checkOutDateTime">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.checkOutDateTime">Check Out Date Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="roomType">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.roomType">Room Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="roomNumber">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.roomNumber">Room Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adults">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.adults">Adults</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="children">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.children">Children</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="crib">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.crib">Crib</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rollaway">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.rollaway">Rollaway</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.phone">Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hotel.id">
            <div class="d-flex">
              <span jhiTranslate="bookingserviceApp.bookingserviceReservation.hotel">Hotel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bookingservice/reservation', reservation.id, 'view']">{{ reservation.id }}</a>
          </td>
          <td>{{ reservation.accountNumber }}</td>
          <td>{{ reservation.status }}</td>
          <td>{{ reservation.ratePlan }}</td>
          <td>{{ reservation.arrivalDate }}</td>
          <td>{{ reservation.departureDate }}</td>
          <td>{{ reservation.checkInDateTime }}</td>
          <td>{{ reservation.checkOutDateTime }}</td>
          <td>{{ reservation.roomType }}</td>
          <td>{{ reservation.roomNumber }}</td>
          <td>{{ reservation.adults }}</td>
          <td>{{ reservation.children }}</td>
          <td>{{ reservation.crib }}</td>
          <td>{{ reservation.rollaway }}</td>
          <td>{{ reservation.firstName }}</td>
          <td>{{ reservation.lastName }}</td>
          <td>{{ reservation.phone }}</td>
          <td>{{ reservation.email }}</td>
          <td>
            <div *ngIf="reservation.hotel">
              <a [routerLink]="['/bookingservice/hotel-info', reservation.hotel.id, 'view']">{{ reservation.hotel.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/bookingservice/reservation', reservation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bookingservice/reservation', reservation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(reservation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="reservations && reservations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
