<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customer-service-heading"
        data-cy="CustomerServiceCreateUpdateHeading"
        jhiTranslate="customerserviceApp.customerserviceCustomerService.home.createOrEditLabel"
      >
        Create or edit a Customer Service
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerService.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerService.startDate" for="field_startDate"
            >Start Date</label
          >
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerService.endDate" for="field_endDate"
            >End Date</label
          >
          <div class="d-flex">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="datetime-local"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerService.reportNumber" for="field_reportNumber"
            >Report Number</label
          >
          <input
            type="number"
            class="form-control"
            name="reportNumber"
            id="field_reportNumber"
            data-cy="reportNumber"
            formControlName="reportNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerService.faqs" for="field_faqs">Faqs</label>
          <select class="form-control" id="field_faqs" data-cy="faqs" name="faqs" formControlName="faqs" [compareWith]="compareFAQs">
            <option [ngValue]="null"></option>

            <option [ngValue]="fAQsOption" *ngFor="let fAQsOption of faqsCollection">{{ fAQsOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="customerserviceApp.customerserviceCustomerService.customerServiceEntity"
            for="field_customerServiceEntity"
            >Customer Service Entity</label
          >
          <select
            class="form-control"
            id="field_customerServiceEntity"
            data-cy="customerServiceEntity"
            name="customerServiceEntity"
            formControlName="customerServiceEntity"
            [compareWith]="compareCustomerServiceEntity"
          >
            <option [ngValue]="null"></option>

            <option [ngValue]="customerServiceEntityOption" *ngFor="let customerServiceEntityOption of customerServiceEntitiesCollection">
              {{ customerServiceEntityOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="customerserviceApp.customerserviceCustomerService.customerServiceUser"
            for="field_customerServiceUser"
            >Customer Service User</label
          >
          <select
            class="form-control"
            id="field_customerServiceUser"
            data-cy="customerServiceUser"
            name="customerServiceUser"
            formControlName="customerServiceUser"
            [compareWith]="compareCustomerServiceUser"
          >
            <option [ngValue]="null"></option>

            <option [ngValue]="customerServiceUserOption" *ngFor="let customerServiceUserOption of customerServiceUsersCollection">
              {{ customerServiceUserOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
