<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customer-service-user-heading"
        data-cy="CustomerServiceUserCreateUpdateHeading"
        jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.home.createOrEditLabel"
      >
        Create or edit a Customer Service User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.firstName" for="field_firstName"
            >First Name</label
          >
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.lastName" for="field_lastName"
            >Last Name</label
          >
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.email" for="field_email"
            >Email</label
          >
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.phoneNumber" for="field_phoneNumber"
            >Phone Number</label
          >
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.reservationNumber"
            for="field_reservationNumber"
            >Reservation Number</label
          >
          <input
            type="text"
            class="form-control"
            name="reservationNumber"
            id="field_reservationNumber"
            data-cy="reservationNumber"
            formControlName="reservationNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.roomNumber" for="field_roomNumber"
            >Room Number</label
          >
          <input
            type="text"
            class="form-control"
            name="roomNumber"
            id="field_roomNumber"
            data-cy="roomNumber"
            formControlName="roomNumber"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="customerserviceApp.customerserviceCustomerServiceUser.conversation"
            for="field_conversation"
            >Conversation</label
          >
          <select
            class="form-control"
            id="field_conversation"
            data-cy="conversation"
            name="conversation"
            formControlName="conversation"
            [compareWith]="compareConversation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="conversationOption" *ngFor="let conversationOption of conversationsCollection">
              {{ conversationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
