<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="reservation">
      <h2 data-cy="reservationDetailsHeading">
        <span jhiTranslate="bookingserviceApp.bookingserviceReservation.detail.title">Reservation</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.id">Id</span></dt>
        <dd>
          <span>{{ reservation.id }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.accountNumber">Account Number</span></dt>
        <dd>
          <span>{{ reservation.accountNumber }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.status">Status</span></dt>
        <dd>
          <span>{{ reservation.status }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.ratePlan">Rate Plan</span></dt>
        <dd>
          <span>{{ reservation.ratePlan }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.arrivalDate">Arrival Date</span></dt>
        <dd>
          <span>{{ reservation.arrivalDate }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.departureDate">Departure Date</span></dt>
        <dd>
          <span>{{ reservation.departureDate }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.checkInDateTime">Check In Date Time</span></dt>
        <dd>
          <span>{{ reservation.checkInDateTime }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.checkOutDateTime">Check Out Date Time</span></dt>
        <dd>
          <span>{{ reservation.checkOutDateTime }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.roomType">Room Type</span></dt>
        <dd>
          <span>{{ reservation.roomType }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.roomNumber">Room Number</span></dt>
        <dd>
          <span>{{ reservation.roomNumber }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.adults">Adults</span></dt>
        <dd>
          <span>{{ reservation.adults }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.children">Children</span></dt>
        <dd>
          <span>{{ reservation.children }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.crib">Crib</span></dt>
        <dd>
          <span>{{ reservation.crib }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.rollaway">Rollaway</span></dt>
        <dd>
          <span>{{ reservation.rollaway }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.firstName">First Name</span></dt>
        <dd>
          <span>{{ reservation.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.lastName">Last Name</span></dt>
        <dd>
          <span>{{ reservation.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.phone">Phone</span></dt>
        <dd>
          <span>{{ reservation.phone }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.email">Email</span></dt>
        <dd>
          <span>{{ reservation.email }}</span>
        </dd>
        <dt><span jhiTranslate="bookingserviceApp.bookingserviceReservation.hotel">Hotel</span></dt>
        <dd>
          <div *ngIf="reservation.hotel">
            <a [routerLink]="['/hotel-info', reservation.hotel.id, 'view']">{{ reservation.hotel.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bookingservice/reservation', reservation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
