<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reservation-heading"
        data-cy="ReservationCreateUpdateHeading"
        jhiTranslate="bookingserviceApp.bookingserviceReservation.home.createOrEditLabel"
      >
        Create or edit a Reservation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.accountNumber" for="field_accountNumber"
            >Account Number</label
          >
          <input
            type="text"
            class="form-control"
            name="accountNumber"
            id="field_accountNumber"
            data-cy="accountNumber"
            formControlName="accountNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.ratePlan" for="field_ratePlan"
            >Rate Plan</label
          >
          <input type="text" class="form-control" name="ratePlan" id="field_ratePlan" data-cy="ratePlan" formControlName="ratePlan" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.arrivalDate" for="field_arrivalDate"
            >Arrival Date</label
          >
          <input
            type="number"
            class="form-control"
            name="arrivalDate"
            id="field_arrivalDate"
            data-cy="arrivalDate"
            formControlName="arrivalDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.departureDate" for="field_departureDate"
            >Departure Date</label
          >
          <input
            type="number"
            class="form-control"
            name="departureDate"
            id="field_departureDate"
            data-cy="departureDate"
            formControlName="departureDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.checkInDateTime" for="field_checkInDateTime"
            >Check In Date Time</label
          >
          <input
            type="number"
            class="form-control"
            name="checkInDateTime"
            id="field_checkInDateTime"
            data-cy="checkInDateTime"
            formControlName="checkInDateTime"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.checkOutDateTime" for="field_checkOutDateTime"
            >Check Out Date Time</label
          >
          <input
            type="number"
            class="form-control"
            name="checkOutDateTime"
            id="field_checkOutDateTime"
            data-cy="checkOutDateTime"
            formControlName="checkOutDateTime"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.roomType" for="field_roomType"
            >Room Type</label
          >
          <input type="text" class="form-control" name="roomType" id="field_roomType" data-cy="roomType" formControlName="roomType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.roomNumber" for="field_roomNumber"
            >Room Number</label
          >
          <input
            type="text"
            class="form-control"
            name="roomNumber"
            id="field_roomNumber"
            data-cy="roomNumber"
            formControlName="roomNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.adults" for="field_adults">Adults</label>
          <input type="number" class="form-control" name="adults" id="field_adults" data-cy="adults" formControlName="adults" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.children" for="field_children"
            >Children</label
          >
          <input type="number" class="form-control" name="children" id="field_children" data-cy="children" formControlName="children" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.crib" for="field_crib">Crib</label>
          <input type="checkbox" class="form-check" name="crib" id="field_crib" data-cy="crib" formControlName="crib" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.rollaway" for="field_rollaway"
            >Rollaway</label
          >
          <input type="checkbox" class="form-check" name="rollaway" id="field_rollaway" data-cy="rollaway" formControlName="rollaway" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.firstName" for="field_firstName"
            >First Name</label
          >
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.lastName" for="field_lastName"
            >Last Name</label
          >
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceReservation.hotel" for="field_hotel">Hotel</label>
          <select
            class="form-control"
            id="field_hotel"
            data-cy="hotel"
            name="hotel"
            formControlName="hotel"
            [compareWith]="compareHotelInfo"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="hotelInfoOption" *ngFor="let hotelInfoOption of hotelInfosSharedCollection">{{ hotelInfoOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
