<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-end-heading" data-cy="EndCreateUpdateHeading" jhiTranslate="customerserviceApp.customerserviceEnd.home.createOrEditLabel">
        Create or edit a End
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceEnd.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceEnd.closeMessage" for="field_closeMessage"
            >Close Message</label
          >
          <input
            type="text"
            class="form-control"
            name="closeMessage"
            id="field_closeMessage"
            data-cy="closeMessage"
            formControlName="closeMessage"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceEnd.moreHelp" for="field_moreHelp">More Help</label>
          <input type="text" class="form-control" name="moreHelp" id="field_moreHelp" data-cy="moreHelp" formControlName="moreHelp" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="customerserviceApp.customerserviceEnd.report" for="field_report">Report</label>
          <select
            class="form-control"
            id="field_report"
            data-cy="report"
            name="report"
            formControlName="report"
            [compareWith]="compareReport"
          >
            <option [ngValue]="null"></option>

            <option [ngValue]="reportOption" *ngFor="let reportOption of reportsCollection">{{ reportOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
