<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-hotel-info-heading"
        data-cy="HotelInfoCreateUpdateHeading"
        jhiTranslate="bookingserviceApp.bookingserviceHotelInfo.home.createOrEditLabel"
      >
        Create or edit a Hotel Info
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceHotelInfo.id" for="field_id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceHotelInfo.hotelName" for="field_hotelName"
            >Hotel Name</label
          >
          <input type="text" class="form-control" name="hotelName" id="field_hotelName" data-cy="hotelName" formControlName="hotelName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceHotelInfo.loyaltyProgram" for="field_loyaltyProgram"
            >Loyalty Program</label
          >
          <select
            class="form-control"
            id="field_loyaltyProgram"
            data-cy="loyaltyProgram"
            name="loyaltyProgram"
            formControlName="loyaltyProgram"
            [compareWith]="compareLoyaltyProgram"
          >
            <option [ngValue]="null"></option>

            <option [ngValue]="loyaltyProgramOption" *ngFor="let loyaltyProgramOption of loyaltyProgramsCollection">
              {{ loyaltyProgramOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookingserviceApp.bookingserviceHotelInfo.address" for="field_address">Address</label>
          <select
            class="form-control"
            id="field_address"
            data-cy="address"
            name="address"
            formControlName="address"
            [compareWith]="compareAddress"
          >
            <option [ngValue]="null"></option>

            <option [ngValue]="addressOption" *ngFor="let addressOption of addressesSharedCollection">{{ addressOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
