# Common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        # secret key which should be base64 encoded and changed in production
        base64-secret: ZmUzNmYzYjk4ZTcyMzg1NDJhOWMwMGNhMmYyOWJjNDI1MmJhODgyMTIzNjllYjgzYjViZjJlYTZjMThhYjkwMmM0NWM0ZTQ0YmQxZTc5OWQ4ZjM0YWVkNWIxODBkMzRmYmYzZmM4YmEzM2VkYTczYTY2YjBiMDc3OGZiMDY1NTM=

eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@localhost:8761/eureka/
