# Common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        # secret key which should be base64 encoded and changed in production
        base64-secret: MjEyNWU0YTU4N2RlNmI5N2FmZTU0M2FkMTU5ZmVkNWRkNTRlODE1MWViMDMxNzBlYzI3ZGJiYTQ4NjU5NGM5NzY4YjI4ZDUzNjdlNThmMWExNDk5YWJkMjI5YjA2NjVhZTE3NWMxYTk1OWY4NTYwODAxZTk1OGVkNTI0YTBhM2Y=

eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@localhost:8761/eureka/
